@tailwind base;
@tailwind components;
@tailwind utilities;


.border-style{
   border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to bottom , red, rgba(240, 128, 128, 0)) 1 100%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
